body {
  font-family: Poppins;
  background-color: #F2EDEB;
}

.logo {
  max-width: 1028px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 300px;
  height: 150px;
}

.header-container {
  max-width: 1028px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-container h1, p {
  text-align: center;
}

.header-container form, button {
  margin: 0 auto;
  width: 300px;
  height: 45px;
  border-radius: 20px;
  background-color: #1E96FC;
  border: none;
  color: #F2EDEB;
  cursor: pointer;
}

.header-container form, button:hover {
  background-color: #192A51;
}

.rooms-container {
  max-width: 1028px;
  margin: 50px auto;
}

.room-card-item {
  margin: 20px 0;
  background-color: #440381;
  border-radius: 10px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.btn-delete {
  margin: 0;
  width: 50px;
  background-color: #DE1A1A;
  color: #F2EDEB;
  font-weight: bold;
}

.btn-delete:hover {
  background-color: #FC5130;

}

.room-card-item a {
  color: #F2EDEB;
  text-decoration: none;
}
